TALLER_SOAP/backend_ci_soap/src/main/resources/wsdl/articulos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.example.com/soap/articulos"
           xmlns:tns="http://www.example.com/soap/articulos"
           elementFormDefault="qualified">

    <!-- ==== Estructura de Articulo ==== -->
    <xs:complexType name="ArticuloType">
        <xs:sequence>
            <xs:element name="codigo" type="xs:string"/>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="categoria" type="xs:string"/>
            <xs:element name="precioCompra" type="xs:decimal"/>
            <xs:element name="precioVenta" type="xs:decimal"/>
            <xs:element name="stock" type="xs:int"/>
            <xs:element name="stockMinimo" type="xs:int"/>
            <xs:element name="proveedor" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ==== Solicitud de inserción ==== -->
    <xs:element name="InsertarArticuloRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="articulo" type="tns:ArticuloType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== Respuesta de inserción ==== -->
    <xs:element name="InsertarArticuloResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mensaje" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== Solicitud de consulta ==== -->
    <xs:element name="ConsultarArticuloRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="codigo" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== Respuesta de consulta ==== -->
    <xs:element name="ConsultarArticuloResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="articulo" type="tns:ArticuloType" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
